body {
	background-color: #CCC;
	color: #000305;
	font-family: verdana, 'Lucide Sans Unicode';
	font-size: 87.5% /* Base font size is 14px */
	line-height: 1.5;
	text-align: left;
	
}

a {
	text-decoration: none;
}

a:link, a:visited {
	color: #CF5C3F;
}

a:hover, a:active {
	background-color: #CF5C3F;
	color: #FFF;
}

.body {
	margin: 2px;
	width: 80%;
	clear: both;
}

.mainHeader img {
	width: 100%;
	height: 30%;
	border-radius: 5px;
	margin: 2% 0;
}

.mainHeader nav {
	background-color: #666;
	height: 40px;
	border-radius: 5px;
	width: 100%;
}

.mainHeader nav ul {
	list-style: none;
	margin: auto;
}

.mainHeader nav ul li {
	float: left;
	display: inline;
}

.mainHeader nav a:link, .mainHeader nav a:visited {
	color: #FFF;
	display: inline-block;
	padding: 10px 25px;
	height: 20px;
}

.mainHeader nav a:hover, .mainHeadernav a:active, 
.mainHeader nav .active a:link, .mainHeader nav .active a:visited {
	background-color: #CF5C3F;
	text-shadow: none;
}

.mainHeader nav ul li a {
	border-radius: 5px;
}

.mainContent {
	line-height: 25px;
	border-radius: 5px;
}

.content {
	width: 60%;
	float: left;
}

h2 {
	color: #CF5C3F;
}

.error {
	text-align: center;
	color: #ff0000;
}

.advanced-search {
	margin-top: 50px; 
}

.advanceed-input {
	width: 100%;
}

.select {
	margin: 4% 0;
}

.topcontent {
	float: left;
	background-color: #FFF;
	border-radius: 5px;
	padding: 5% 5%;
	margin: 3% 0;
}

.mainContent .content .topcontent .container label {
	font-weight: 700;
}

.top-sidebar {	
	width: 21%;
	float: right;
	background-color: #FFF;
	border-radius: 5px;
	margin: 2% 0 2% 3%;
	padding: 2% 2%;
}

/*.middle-sidebar {
	width: 21%;
	float: right;
	background-color: #FFF;
	border-radius: 5px;
	margin: 2% 0 2% 3%;
	padding: 2% 2%;
}

.bottom-sidebar {
	width: 21%;
	float: right;
	background-color: #FFF;
	border-radius: 5px;
	margin: 2% 0 2% 3%;
	padding: 2% 2%;
}*/

.signupbtn{
	text-align: center;
	float: left;
	background-color: #4CAF50;
	color: #ffffff;
	padding: 15px 0;
	margin: 10px 7px;
	cursor: pointer;
	width: 46%;
	
}

.cancelbtn{
	text-align: center;
	float: right;
	background-color: #f44336;
	color: #ffffff;
	padding: 15px 0;
	margin: 10px 14px;
	cursor: pointer;
	width: 46%;
}

.mainFooter {
	width: 100%;
	height: 40px;
	float: left;
	border-radius: 5px;
	background-color: #666;
	margin: 2% 0;
}

.mainFooter img {
	border-radius: 5px;
	width: 4%;
	float: right;

}

.mainFooter p {
	width: 92%;
	margin: 10px;
	color: #FFF;
}

.tableAdd {
		width: 500px;
		height: 98px
	}

.tableGeneral {
	width: 400px;
	height: 12px;
}

.street, .mailling {
	width: 50%
}

.clearfix::after {
	content: "";
	clear: both;
	display: table;
}

@media only screen and (min-width: 150px) and (max-width: 600px)
{
	.body {
		width: 90%;
		font-size: 95%;
	}

	.mainHeader img {
		width: 100%;
	}

	.mainHeader nav {
		height: 160px;
	}

	.mainHeader nav ul {
		padding-left: 0;
	}

	.mainHeader nav ul li {
		width: 100%;
		text-align: center;
	}

	.mainHeader nav a:link, .mainHeader nav a:visited {
		padding: 10px 25px;
		height: 20px;
		display: block;
	}

	.mainHeader nav ul li a {
		border-radius: 5px;
	}

	.content {
		width: 100%;
		float: left;
		margin-top: 2%;
	}

	

	.topcontent {
		background-color: #FFF;
		border-radius: 5px;
		padding: 3% 5%;
		margin: 2% 0 4% 0;
	}

	

	.top-sidebar, .middle-sidebar, .bottom-sidebar {
		width: 94%;
		margin: 2% 0 2% 0;
		padding: 2% 3%;
	}

	.mainFooter img {
		width: 9%;
		height: 100%;
		float: right;

	}

	.tableAdd {
		width: 50px;
		
	}

	.tableGeneral {
		width: 50px;
		
	}

	.street {
		width: 48%;
		padding: 10px;
	}

	.cancelbtn, .signupbtn, .loginbtn {
		width: 100%;
	}

}